.page-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

.hero-container{
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;   
    flex-wrap: wrap-reverse;
}

.text-container {
   height: 100%;
}

.hero-title {
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-weight: 600;
    white-space: nowrap;
}

.hero-description {
    font-size: clamp(1.2rem, 2.5vw, 1.4rem);
    margin-top: 20px;
    margin-bottom: 30px;
}

.hero-btn {
    font-size: 1.2rem;
}

.hero-img {
    width: clamp(200px, 50vw, 460px); 
    height: auto; 
    padding: 20px;
    object-fit: cover;
    box-sizing: border-box;
}