.sidebar-container {
    width: 100%;
    min-width: max-content; 
    position: sticky;
    top: 0;
    height: 100vh; 
    overflow-y: auto;
    padding: 16px; 
}
.section-header {
    color: rgb(53, 53, 53);
}

.reset-btn {
    margin-bottom: 10px;
}

.star-icon {
    margin: auto 4px;
}
