.navbar {
  background-color: #213244;
}
.buttons-container {
  width: 20%;
  min-width: fit-content;
  display: flex;
  justify-content: space-around;
}
.username-text {
  color: rgb(237, 237, 237);
}
